@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  --sb-track-color: #b5cfff;
  --sb-thumb-color: #3b7fff;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
}

.custom-shadow:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
